In [1]:
# Library Package
import pandas as pd
import numpy as np
import re

# Folder Path
files = './training/training.csv'

# Regular Expression
regex_wage = r'(\$[0-9,]{2,}[kK]?)'
regex_pday = r'(per day)|(p.d)'
regex_html = r'(<[^>]+>)'

In [33]:
frame = pd.read_csv(files, sep='|')
frame.head()

,content,industries,location,title,type_empl,url,wage
0,Amgen is committed to unlocking the potential ...,Healthcare & Medical,"Sydney, Ryde & Macquarie Park","Transformation, Senior Manager - Data, Analyti...",Full Time,https://www.seek.com.au/job/38884116?type=prom...,NaN
1,"Our client, a respected and leading global ban...",Science & Technology,"Sydney, CBD, Inner West & Eastern Suburbs",Senior Analyst | Customer Insights | Banking J...,Full Time,https://www.seek.com.au/job/38983503?type=stan...,NaN
2,We are looking for an experienced Senior Busin...,Information & Communication Technology,"Sydney, North Shore & Northern Beaches","Senior Business Analyst, Data & Analytics (Cor...",Contract/Temp,https://www.seek.com.au/job/38980384?type=stan...,NaN
3,Senior Data Analysts - check this out! This is...,"Advertising, Arts & Media","Sydney, CBD, Inner West & Eastern Suburbs",Data and Analytics Director Job in Sydney - SEEK,Full Time,https://www.seek.com.au/job/39005312?type=stan...,NaN
4,We'll have you working with Australia's most r...,Accounting,"Sydney, CBD, Inner West & Eastern Suburbs",Forensic Technology/Data Analytics - Senior Co...,Full Time,https://www.seek.com.au/job/38991024?type=stan...,NaN

In [3]:
# test_string = """
# Sydney, CBD, Inner West & Eastern Suburbs
# Salary
# $700,000 - $1000,000 per day
# Work Type
# Contract/Temp
# Classification
# Information & Communication Technology, Developers/Programmers
# """
# ls = re.findall(regex_wage,test_string)
# print(ls)
# ls = [int(wage.strip("$").replace(",","")) for wage in ls]
# print(ls)
# print(np.mean(ls))

In [4]:
# frame.info()

In [5]:
# frame['wage'].unique()

In [ ]:
### Special Cases

# 96,000k
# https://www.seek.com.au/job/39003699?type=standout&searchrequesttoken=1907a61e-aba7-41b1-b94a-37f7f06e0f7c

# 130,000-150,000k
# https://www.seek.com.au/job/38915724?type=standout&searchrequesttoken=d0b07562-538a-480d-ab14-3078fa096fbe

# 90,000k
# https://www.seek.com.au/job/38963567?type=standout&searchrequesttoken=d6ff298d-f248-4cc1-866b-0d7b1c2f1b27

In [37]:
# Split Url out of content
def get_wage(regex, sample):
    result = re.findall(regex, sample)
    per_day = re.search(regex_pday,sample)

    if result:
        # Basic clean.
        result = [value.strip("$").replace(",","").lower() for value in result]
        print("=======================B4: ",result)
        
        # findall might return an duplicate values
        # Reduce the length into 2 first values
        if len(result) >= 2:
            result = result[:2]
            print("I-If: ",result)
            
            # Case-of "k" appears 2times
            if ("k" in result[0]) and ("k" in result[-1]):
                final = int(result[0].strip("k")) + int(result[-1].strip("k"))
                final = final/2
                # Treat special cases
                if final < 1000:
                    final = final*1000
            
            # Case-of "k" appears 1time at last.
            elif ("k" not in result[0]) and ("k" in result[-1]):
                k_value = int(result[-1].strip("k"))
                if k_value < 1000 else k_value]
                print(type(k_value))
                print(type(result[0]))
                
                final = (int(result[0]) + k_value)/2
            
            # Case-of "k" appears 1time at first.
            elif ("k" in result[0]) and ("k" not in result[-1]):
                k_value = int(result[0].strip("k"))
                if k_value < 1000:
                    k_value = k_value*1000
                
                final = (k_value + int(result[-1]))/2
                
            elif len(result[0]) < 5 and len(result[-1]) < 5:
                final = np.mean([int(value)*260 for value in result])
                if not per_day:
                    final = final*7.5
            else:
                final = np.mean([int(value) for value in result])
                
            print("O-If: ",final)
            return final
        else:
            result = result[0]
            print("I-Else: ",result)
            
            if "k" in result:
                k_value = int(result.strip("k"))
                # Treat special case
                if k_value < 1000:
                    result = k_value*1000
                else:
                    result = k_value
            elif len(result) < 5:
                result = int(result)*260
                if not per_day:
                    result = int(result)*7.5
            else:
                result = int(result)
            print("O-Else: ", result)
            print("========\n")
            return result
    else:
        return 0

In [38]:
frame['wage'] = frame['wage'].map(lambda row: get_wage(regex_wage,str(row)))

=======================B4:  ['118513', '137829', '118513', '137829', '118513', '137829', '118513', '137829']
I-If:  ['118513', '137829']
O-If:  128171.0
=======================B4:  ['700', '1000']
I-If:  ['700', '1000']
O-If:  221000.0
=======================B4:  ['118513', '137829', '118513', '137829', '118513', '137829', '118513', '137829']
I-If:  ['118513', '137829']
O-If:  128171.0
=======================B4:  ['160']
I-Else:  160
O-Else:  312000.0
========

=======================B4:  ['950', '1040']
I-If:  ['950', '1040']
O-If:  258700.0
=======================B4:  ['650', '800']
I-If:  ['650', '800']
O-If:  188500.0
=======================B4:  ['140k']
I-Else:  140k
O-Else:  140000
========

=======================B4:  ['500']
I-Else:  500
O-Else:  130000
========

=======================B4:  ['150k']
I-Else:  150k
O-Else:  150000
========

=======================B4:  ['100000', '119999']
I-If:  ['100000', '119999']
O-If:  109999.5
=======================B4:  ['150000']
I-Else:  150000
O-Else:  150000
========

=======================B4:  ['110k', '150k']
I-If:  ['110k', '150k']
O-If:  130000.0
=======================B4:  ['60', '79']
I-If:  ['60', '79']
O-If:  135525.0
=======================B4:  ['120k', '150k']
I-If:  ['120k', '150k']
O-If:  135000.0
=======================B4:  ['130k']
I-Else:  130k
O-Else:  130000
========

=======================B4:  ['200']
I-Else:  200
O-Else:  390000.0
========

=======================B4:  ['110k', '115k']
I-If:  ['110k', '115k']
O-If:  112500.0
=======================B4:  ['150k']
I-Else:  150k
O-Else:  150000
========

=======================B4:  ['130k']
I-Else:  130k
O-Else:  130000
========

=======================B4:  ['130k']
I-Else:  130k
O-Else:  130000
========

=======================B4:  ['150k']
I-Else:  150k
O-Else:  150000
========

=======================B4:  ['120k']
I-Else:  120k
O-Else:  120000
========

=======================B4:  ['130000', '160000']
I-If:  ['130000', '160000']
O-If:  145000.0
=======================B4:  ['130', '200k']
I-If:  ['130', '200k']
<class 'list'>
<class 'str'>

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [26]:
frame['wage'] = frame['wage'].astype('int64')
frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8354 entries, 0 to 8353
Data columns (total 7 columns):
content       8054 non-null object
industries    8054 non-null object
location      8054 non-null object
title         8054 non-null object
type_empl     8054 non-null object
url           8354 non-null object
wage          8354 non-null int64
dtypes: int64(1), object(6)
memory usage: 456.9+ KB

In [27]:
frame['wage'].unique()

array([       0,   128171,   221000,   312000,   258700,   188500,
         140000,   130000,   150000,   109999,   135525,   135000,
         390000,   112500,   120000,   145000,   100065,   115000,
         234000,   155000,   102500,   180000,    78000,   218400,
         208000,   200000,   273000,   546000,   149500,   160000,
         169000,   105000,   182000,  1384500,   100000,  1540500,
        1755000,  1218750,   122500,    95550,   155348,    90000,
         227500,  1365000,    91650,   136500,   103120,  1594125,
         156000,    84000,   139100,   114999,    79999,   116000,
        1852500,    85000,    77500,   110000, 75065000,   104000,
         195000,   125000,   176800,  1613625,    57499,   110065,
         165750,    63000,  1267500,   780000,  1511250,    95000,
          84500,   112400,   290000,   152955,  1560000,   120450,
          59800,   101400,   230000,   139999,    55000,   253500,
         175000,    60000,   117000,   146250,     8060,    62500,
         102375,  2827500,   175500,    80000,   187200,    70000,
         210000,   101702,   215800,   107250,   162500,    50450,
        1462500,    72499,   107500,   182500,    58500,   185000,
         112125,    87750,    87500,   149999,    63375,  1170000,
          75000,    58000,   170000,    75075,    82499,    92500,
          49999,    96367,   165000,   640000,  1657500,   130944,
          77499,    97500,   126750,   129999,   127500,    71500,
          72328,    58499,    83000,  1413750,    42499,    77673,
          64750,    59999,    87747,   118728,   131000,   227760,
          82500,    47500,   137400,   214500,   124999,    94888,
        1447875,    52500,    72500,    85070,    88725,    64000,
         106221,   364000,   338000,    99450,   126299,    52122,
         108500,   136483,    89999,   377000,  1608750,   179999,
          65060,   400000,   143000,   200500,    99999,    52499,
          69766,    69999,    91039,    67499,   132500,    67500,
         201500,   137500,    65000,   102291,    81900,    74999,
         185250,   104999,   100168,    98084,    40030,    53402,
         137899,   131400,   188550,    40000,   155025,   152500,
          62400,    66300,  2925000,   100425,   250000,    82875,
          61676,   106275,    84152,    57500,    48750,    84999,
          68000,   117500,    56550,    74100,    69225,   102852,
          44999,    52650,    53625,    51675,   615221,   119999,
         131625,    76777,    47499,    30025,   154999,   111463,
          72265,   123074,    87575,    88345,    79262,   102000,
          80925,    68250,   148444,    80509,    89153,   113369,
          68683,    94265,    99500,    71557,    64350,   107499,
          27596,    70281,    87930,    92924,    69263,    71217,
          50700,   112529,    55500,   174590,   102365,   104124,
         173550,   117537,   100534,   204750,   202800,    84825,
         108225,   182325,    83850,     8320,   188890,   224250,
         117975,   179400,   113100,    26000,   159999,    75065,
         370500,   174999,   292500,   171600, 48045000,   490000,
         110500,   147500,   220000,    60450,   120900,   190000,
          94999,    68177,    85082,    91000,   106754,    32516,
          73580,   650000,   164999,    76650,   199875,    97650,
          47000,    62499,    85120,   170625,   877500,   114508,
         121875,   111246,   230100,    73000,   234650,    32500,
         260000,    70200,    54999,   144999,    97499,    54000,
         286000,   243750,    50000,    89000,    66000,    54600,
         153000,    47545,   102499,    85011,    85800,    87499,
          67275,   216450,   160748,    60500,    73500,    42000,
          58710,   215000,    92525,   106316,   142500,    89866,
          88500,   213525,    81489,    35532,   140400,   108032,
         117250,   208130,    80191,   116978,    87013,   132360,
         682500,    75135,   105453,   247000,   123500,    89251,
          74981,    41448,   100669,    83200,    57000,    13000,
          84951,    68506,    84947,    14300,    86479,    73225,
          57937,    91868,    27300,   196560,   108637,    15899,
         105600,   219180,    79057,    78500,   254540,   104749,
          39037,    86000,   252460,   225000,   157500,   169999,
        1072500,  1023750,    31200,   135200,    69580,  1291875,
          60045,  1243125,    98663,    40032,    84514,    91472,
          65325, 45040000,   132600,    86578,   104213,   127000,
         139016,    78463,    92625,    55328,    63015,    92105,
          73034,    55575,    96629,   211575,    99489,   107119,
          49500,    97585,   103250,   121758,    42537,   114615,
          55047,    71820,    65052,   110294,   101500,   159900,
          59500,   950625,    57525,   113524,   124965,    77396,
          93421,   113430,    74465,   170300,    79950,   351000,
          13780,    99850,    36549,   101000,    15900,    87714,
          49725,   500000])

In [31]:
frame[frame['wage'] > 10000000]['url'].iloc[0]

'https://www.seek.com.au/job/38915724?type=standout&searchrequesttoken=d0b07562-538a-480d-ab14-3078fa096fbe'

In [10]:
frame1 = frame[frame['wage'] > 0]
frame1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1764 entries, 6 to 8352
Data columns (total 7 columns):
content       1764 non-null object
industries    1764 non-null object
location      1764 non-null object
title         1764 non-null object
type_empl     1764 non-null object
url           1764 non-null object
wage          1764 non-null int64
dtypes: int64(1), object(6)
memory usage: 110.2+ KB

In [11]:
frame1['location'].value_counts()

Sydney, CBD, Inner West & Eastern Suburbs      660
Melbourne, CBD & Inner Suburbs                 322
Brisbane, CBD & Inner Suburbs                  142
Sydney                                         106
Sydney, North Shore & Northern Beaches         102
Sydney, Parramatta & Western Suburbs            99
Melbourne                                       55
Melbourne, Bayside & South Eastern Suburbs      50
Brisbane                                        34
Sydney, Ryde & Macquarie Park                   34
Melbourne, Western Suburbs                      29
Melbourne, Eastern Suburbs                      26
Sydney, South West & M5 Corridor                23
Melbourne, Northern Suburbs                     23
Sydney, Southern Suburbs & Sutherland Shire     14
Sydney, North West & Hills District             14
Brisbane, Northern Suburbs                      10
Brisbane, Southern Suburbs & Logan              10
Brisbane, Western Suburbs & Ipswich              7
Brisbane, Bayside & Eastern Suburbs              3
Gladstone & Central QLD                          1
Name: location, dtype: int64

In [12]:
frame1['industries'].value_counts()

Information & Communication Technology    560
Accounting                                287
Marketing & Communications                154
Banking & Financial Services               96
Sales                                      90
Education & Training                       80
Government & Defence                       73
Healthcare & Medical                       54
Manufacturing, Transport & Logistics       54
Science & Technology                       52
Human Resources & Recruitment              40
Administration & Office Support            39
Engineering                                32
Retail & Consumer Products                 28
Consulting & Strategy                      22
Insurance & Superannuation                 18
Call Centre & Customer Service             16
Construction                               12
Advertising, Arts & Media                  12
Real Estate & Property                     10
Legal                                       8
Community Services & Development            6
Mining, Resources & Energy                  5
Trades & Services                           5
Hospitality & Tourism                       5
Design & Architecture                       4
CEO & General Management                    1
Farming, Animals & Conservation             1
Name: industries, dtype: int64

In [13]:
frame1['content'] = frame1['content'].map(lambda row: re.sub(regex_html,'',row))

/home/shayne/Anaconda3/envs/caps_env/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [14]:
no = 0
print(frame1['url'].iloc[no])
print("======================")
print(frame1['wage'].iloc[no])
print("======================")
frame1['content'].iloc[no]

https://www.seek.com.au/job/38988764?type=standout&searchrequesttoken=7dd0818a-ae26-4408-918c-981552979733
======================
128171
======================

"Salary from $118,513 to $137,829 (depending on experience) + 15.4% superannuation Flexible location - Sydney or Melbourne CBD Lead a small team, contributing to the regulation of Australia's Wealth Management industry A future with ASIC means that your work will contribute to ASIC's vision for a fair, strong and efficient financial system for all Australians. We value what you will bring. We value those with sharp, analytical minds and are open to challenging the way things are done. The team Wealth Management is a critical part of Australia's financial system and has significant impact on the well-being of Australians. The role of ASIC's Wealth Management Group is to regulate the conduct of investment managers, superannuation funds and financial advisers. The Strategy, Analysis & Operations team provides specialist services to support the work of the Wealth Management Group. It provides strategic guidance on business planning and reporting, management of group performance, budget planning and oversight, data analysis and research, project management and administrative support. The role As a Team Leader, you will make a valuable contribution to the work of Wealth Management Group by: managing a team of data analysts and researchers to identify and assess evolving trends, emerging risks and systemic misconduct in financial services and wealth management industry providing expert support and guidance to Wealth Management teams by conducting operational and strategic data analysis designing and advising on processes to collect, organise, clean and explore data scoping, identifying and establishing data analysis methodologies to address research questions analysing structured and unstructured data using statistical or machine learning approaches communicating analytical findings, including through reports, briefings, presentations and data visualisation About you To be successful in this role, you will demonstrate the following skills and experience: substantial experience working in an analytics role, ideally within a corporate, consulting, government or academic environment experience leading small teams, and achieving results through people deep technical knowledge of sophisticated statistical and algorithmic methods ability to interpret data for decision making and problem solving strong business acumen applying statistic or machine learning approaches experience in programming languages - R or Python preferred project and client management skills Bachelor's degree in a quantitative discipline such as Actuarial, Statistics, Mathematics, Computer Science, Engineering or Economics experience in regulation or financial services will be highly regarded About ASIC ASIC is Australia's integrated corporate, markets, financial services and consumer credit regulator. ASIC has a broad mandate. We are a regulator; a policy advisory body; a consumer protection agency; a licensing body; a financial educator and consumer advocate; and a company and professional registry. And we are a law enforcement agency. This work is directed to one principal aim: to realise ASIC's vision for a fair, strong and efficient financial system for all Australians. Underpinning ASIC's vision is the recognition that every cent in the financial system is other people's money. A future with ASIC means that your work will contribute to achieving ASIC's vision. To work with us, you must be an Australian citizen, and be prepared to complete an ASIC Suitability and Baseline Assessment which is issued by ASIC's Personnel Security Team. Please view the position description for more information or click ‘apply' to start your application."