In [15]:
import os, csv, re
import pandas as pd
import numpy as np
import calendar
from datetime import date

# Regular Expression
reg_job_id = r'([0-9]{8})'

# folder path
folder = './jobs_csv/'

# final file
dest_url = './training/jobs'

# Extend Columns
new_columns = ['title','wage','content']

In [4]:
# Scan through the folder.
entries = os.listdir(folder)
print("Total files: ", len(entries))

# Print out file names
print([entry for entry in entries[:5]])

Total files:  6
['frame_Data-analytics_in_Brisbane_May-14-2019.csv', 'frame_Data-analytics_in_Melbourne_May-14-2019.csv', 'frame_Data-analytics_in_Sydney_May-14-2019.csv', 'frame_Data-Science_in_Brisbane_May-14-2019.csv', 'frame_Data-Science_in_Melbourne_May-14-2019.csv']

In [5]:
# Read file and push to list
list_text = []
# list_text.append([f.read() with open(file,'r') as f for file in entries])

for entry in entries:
    file = folder + entry
#     print(file)
    df_temp = pd.read_csv(str(file))
#     csv_reader = csv.reader(file,  delimiter=',')
    
#     with open(file, 'r') as f:
#         data = f.read()
#         print("====================")
#         print(file)
#         print("Read: ", len(data))
    urls = df_temp['url'].values
    print("Length: ", len(df_temp['url']))
    list_text.extend(urls)
len(list_text)

Length:  655
Length:  1510
Length:  2614
Length:  220
Length:  502
Length:  720

6221

In [6]:
frame = pd.DataFrame(list_text, columns=['url'])

In [7]:
frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6221 entries, 0 to 6220
Data columns (total 1 columns):
url    6221 non-null object
dtypes: object(1)
memory usage: 48.7+ KB

In [8]:
frame.head()

                                                 url
0  https://www.seek.com.au/job/38867796?type=prom...
1  https://www.seek.com.au/job/39017806?type=stan...
2  https://www.seek.com.au/job/39017819?type=stan...
3  https://www.seek.com.au/job/39017831?type=stan...
4  https://www.seek.com.au/job/39017842?type=stan...

In [9]:
# print(re.search(reg_job_id,'https://www.seek.com.au/job/38871929?type=standout&searchrequesttoken=bd6bbb68-fcec-419b-a0d9-70aae1964de2')[0])

In [10]:
frame['job_id'] = frame['url'].map(lambda row: re.search(reg_job_id,row)[0])
frame['job_id'].value_counts().sort_values(ascending=False).head()

In [12]:
# Drop duplicate and keep first
frame = frame.drop_duplicates(subset='job_id',keep='first')

In [13]:
frame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5474 entries, 0 to 6220
Data columns (total 2 columns):
url       5474 non-null object
job_id    5474 non-null object
dtypes: object(2)
memory usage: 128.3+ KB

In [14]:
# Check again
frame['job_id'].value_counts().sort_values(ascending=False).head()

38882256    1
38996607    1
38853850    1
38864662    1
38868754    1
Name: job_id, dtype: int64

In [16]:
frame.drop(labels='job_id',axis=1, inplace=True)
frame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5474 entries, 0 to 6220
Data columns (total 1 columns):
url    5474 non-null object
dtypes: object(1)
memory usage: 85.5+ KB

In [17]:
today = date.today()
dest_url = dest_url + '_' + today.strftime("%b-%d-%Y") + '.csv'
frame.to_csv(dest_url, sep='|', encoding='utf-8',index=False)